

      .tap-to-next {
              position: absolute;
              top: 0;
              width: 15%;
              height: 100%;
              z-index: 10;
              cursor: pointer;
              right: 0;
              transition-duration: 300ms;
              transition-property: opacity;
      }

      .tap-to-prev {
          position: absolute;
          top: 0;
          width: 15%;
          height: 100%;
          z-index: 10;
          cursor: pointer;
          left: 0;
          transition-duration: 300ms;
          transition-property: opacity;
      }

      .swiper-horizontal .desktop-only-nav {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100vw;
          bottom: 5vh;
          z-index: 10;
      }

       .swiper-horizontal .desktop-only-nav .tap-to-next {
           display: flex;
           align-content: center;
           justify-content: center;
           position: relative;
           bottom: 0;
           width: 75px;
           height: 65px;
           z-index: 10;
           border-top-left-radius: 15px;
           border-bottom-left-radius: 15px;
           cursor: pointer;
           /* right: calc(var(--swiper-navigation-size) * -2); */
           box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
           background-color: white;
       }

       .swiper-horizontal .desktop-only-nav .tap-to-next.swiper-button-disabled,
       .swiper-horizontal .desktop-only-nav .tap-to-prev.swiper-button-disabled
        {
           opacity: 0.1;
       }

       .swiper-button-next,
       .swiper-rtl .swiper-button-prev {
           right: unset;
              left: unset;
              color: black;
       }

       .swiper-button-prev,
       .swiper-rtl .swiper-button-next {
           right: unset;
           left: unset;
           color: black;
       }

       .swiper-button-prev::after, .swiper-button-next::after {
           font-size: 25px;
       }

       .swiper-horizontal .desktop-only-nav .tap-to-next.swiper-button-next,
       .swiper-horizontal .desktop-only-nav .tap-to-prev.swiper-button-prev {
           margin-right: auto;
           margin-left: auto;
       }

       /* .swiper-horizontal .desktop-only-nav .swiper-button-next::after {
            margin-right: calc(var(--swiper-navigation-size) / 2);
            margin-left: calc(var(--swiper-navigation-size) / 2);
       }

       .swiper-horizontal .desktop-only-nav .swiper-button-prev::after {
           margin-left: calc(var(--swiper-navigation-size) / 2);
           margin-right: calc(var(--swiper-navigation-size) / 2);
       } */

       .swiper-horizontal .desktop-only-nav .tap-to-prev {
           display: flex;
           align-content: center;
           justify-content: center;
           position: relative;
           bottom: 0;
           border-top-right-radius: 15px;
           border-bottom-right-radius: 15px;
           width: 75px;
           height: 65px;
           z-index: 10;
           cursor: pointer;
           /* left: calc(var(--swiper-navigation-size) * -2); */
           background-color: white;
           box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
       }

       .intro-slide-wrapper {
           padding: 10%;
       }

/*         @media screen and (min-width: 767px) {
            .swiper-slide [data-image-size="small"] {
                display: none;
            }
        }

        @media screen and (max-width: 766px) {

            .swiper-slide [data-image-size="large"] {
                display: none;
            }
        } */

        .play-pause-state {
            pointer-events: none;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .play-pause-state .feather {
            will-change: transform;
        }

        .video-state {
            /* round gray button with generous padding, absolutely positioned in the middle of the page */
            position: absolute;
            display: flex;
            height: 50px;
            width: 50px;
            align-items: center;
            justify-content: center;
            transform: scale(0.5);
            opacity: 0;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-property: transform, opacity;
            transition-duration: 300ms;
            padding: 10px;
            border-radius: 50%;
            background-color: #ccc;
            color: black;
            text-align: center;
            text-decoration-line: none;
            z-index: 999;
            will-change: transform, opacity;
        }

        .video-state.active {
            transform: scale(1);
            opacity: 1;
            will-change: transform;
        }

        .menu-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            z-index: 9999;
        }

        .context-menu {
            display: none;
        }

        .menu-wrapper {
            pointer-events: none;
        }

        .menu-wrapper.active {
            pointer-events: auto;
        }

        /* ANCHOR Cover Page */

        .swiper-slide.cover {
            justify-content: left;
        }

        .comet-cover-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-image: url(https://assets.website-files.com/5fc4bb93225b7fa03029d0bf/61ba2074a7ce3517b752b78a_cover.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: wheat;
            z-index: 5;
        }

        .cover-card {
            z-index: 10;
        }

        .cover-card .title {
            margin-top: 0;
        }

        @media screen and (min-width: 767px) {
        
            .cover-card {
                z-index: 10;
                width: 22%;
                height: auto;
                position: relative;
                left: 0;
                padding: 5vw;
                background-color: #fff;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                font-family: 'Sora'
            }

            .cover-card .title {
                font-size: 3vw;
                font-weight: bold;
                margin-bottom: 0;
            }

            .cover-card .year {
                font-size: 1vw;
                font-weight: semi-bold;
                background-color: black;
                color: white;
                padding: 0.5vw;
                border-radius: 5px;
                max-width: max-content;
                margin-bottom: 2vw;
            }

            .cover-card .description {
                font-size: 1vw;
                font-weight: normal;
                max-width: max-content;
            }

            .cover-card .type {
                font-size: 1vw;
                font-weight: normal;
                max-width: max-content;
                opacity: 0.7;
            }
        }

        /* media query for mobile */

        @media screen and (max-width: 766px) {
            .cover-card {
                position: absolute;
                width: 65%;
                bottom: 0vw;
                height: auto;
                padding: 8vw;
                font-size: 1.5vw;
                background-color: #fff;
            }

            .cover-card .title {
                font-size: 11vw;
                font-weight: bold;
                margin-bottom: 0;
            }

            .cover-card .year {
                font-size: 5vw;
                font-weight: semi-bold;
                background-color: black;
                color: white;
                padding: 2vw;
                border-radius: 5px;
                max-width: max-content;
                margin-bottom: 5vw;
            }

            .cover-card .description {
                font-size: 4vw;
                font-weight: normal;
                max-width: max-content;
            }

            .cover-card .type {
                font-size: 4vw;
                font-weight: normal;
                max-width: max-content;
                opacity: 0.7;
            }
        }

        /* media query for tablet */

        @media screen and (min-width: 767px) and (max-width: 1023px) {
            .cover-card {
                position: absolute;
                width: 50%;
                margin-top: auto;
                margin-bottom: auto;
                height: auto;
                padding: 4vw;
                font-size: 1.5vw;
            }

            .cover-card .title {
                font-size: 6vw;
                font-weight: bold;
                margin-bottom: 0;
            }

            .cover-card .year {
                font-size: 3vw;
                font-weight: semi-bold;
                background-color: black;
                color: white;
                padding: 2vw;
                border-radius: 5px;
                max-width: max-content;
                margin-bottom: 3vw;
            }

            .cover-card .description {
                font-size: 2vw;
                font-weight: normal;
                max-width: max-content;
            }

            .cover-card .type {
                font-size: 2vw;
                font-weight: normal;
                max-width: max-content;
                opacity: 0.7;
            }
        }