      .tap-to-next {
              position: absolute;
              top: 0;
              width: 25%;
              height: 100%;
              z-index: 10;
              cursor: pointer;
              right: 0;
              transition-duration: 300ms;
              transition-property: opacity;
      }

      .tap-to-prev {
          position: absolute;
          top: 0;
          width: 25%;
          height: 100%;
          z-index: 10;
          cursor: pointer;
          left: 0;
          transition-duration: 300ms;
          transition-property: opacity;
      }

      .swiper-horizontal .desktop-only-nav {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          bottom: 0;
      }

       .swiper-horizontal .desktop-only-nav .tap-to-next {
           display: flex;
           align-content: center;
           position: relative;
           bottom: 0;
           width: calc(var(--swiper-navigation-size) * 2);
           height: calc(var(--swiper-navigation-size) * 3);
           z-index: 10;
           cursor: pointer;
           right: calc(var(--swiper-navigation-size) * -2);
       }

       .swiper-horizontal .desktop-only-nav .tap-to-next.swiper-button-disabled,
       .swiper-horizontal .desktop-only-nav .tap-to-prev.swiper-button-disabled
        {
           opacity: 0.25;
       }

       .swiper-horizontal .desktop-only-nav .tap-to-prev {
           display: flex;
           align-content: center;
           position: relative;
           bottom: 0;
           width: calc(var(--swiper-navigation-size) * 2);
           height: calc(var(--swiper-navigation-size) * 3);
           z-index: 10;
           cursor: pointer;
           left: calc(var(--swiper-navigation-size) * -2);
       }

       .intro-slide-wrapper {
           padding: 10%;
       }