.intro-slide-mobile {
    display: @(--mobile) flex @(--tablet-desktop) none;
}

.intro-slide-desktop {
    display: @(--tablet-desktop) grid @(--mobile) none;
    width: 100vw;
    height: 100vh;
}

@media (--mobile) {
    .intro-slide-mobile {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-height: 100vh;
        width: 100vw;
        flex-wrap: wrap;
    }
}

@media (--desktop) {
    .intro-slide-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-items: stretch;
        align-items: end !important;
        grid-template-areas: "Main Main Main . . click-key click-key . ."
            ". . . swipe-key swipe-key . . x-key x-key"
            ". dbclick-key dbclick-key . . y-key y-key . ."
            ". . . wheel-x-key wheel-x-key . . wheel-y-key wheel-y-key";
    }
}

@media (--ipadpro) {
    .intro-slide-desktop {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-items: stretch;
        align-items: end !important;
        grid-template-areas: "Main Main Main . . click-key click-key . ."
            ". . . swipe-key swipe-key . . x-key x-key"
            ". dbclick-key dbclick-key . . y-key y-key . ."
            ". . . wheel-x-key wheel-x-key . . wheel-y-key wheel-y-key";
    }
}

.intro-slide-wrapper .key:nth-child(2),
.intro-slide-wrapper .key:nth-child(3),
.intro-slide-wrapper .key:nth-child(4) {
    margin-top: 20px;
}

.intro-slide-wrapper .key .icon {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.intro-slide-wrapper .intro-slide-mobile .key .icon {
    display: flex;
    justify-content: center;
}

.intro-slide-wrapper .intro-slide-mobile .card {
    /* padding-top: var(--spacing-sm-mobile);
    padding-bottom: var(--spacing-sm-mobile); */
    padding: calc(var(--spacing-sm-mobile)*1.5);
    /* padding-right: 0px !important; */
}

.intro-slide-wrapper .intro-slide-mobile .card .text {
    font-size: var(--text-xs-mobile) !important;
}

.intro-slide-wrapper .key {
    position: static !important;
    gap: var(--spacing-md-tablet-desktop);
    display: grid @(--ipadpro) flex @(--mobile) flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-auto-flow: @(--mobile) row @(--ipadpro) column;
    flex-direction: @(--mobile) row-reverse @(--ipadpro) column;
    flex-flow: @(--mobile) row @(--ipadpro) column;
    justify-content: center @(--ipadpro) center @(--mobile) center;
    align-content: center @(--ipadpro) center @(--mobile) center;
    justify-items: stretch @(--mobile) end;
    align-items: stretch @(--mobile) center;
}

.intro-slide-wrapper .key .icon {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    align-self: end;
    justify-self: center;
}

.intro-slide-wrapper .main-key {
    border-top-style: solid @(--tablet-desktop) none !important;
    border-left-style: solid @(--tablet-desktop) none !important;
    align-self: stretch;
    justify-self: stretch;
    grid-area: Main;
    position: static;
        /* max-width: 100% !important; */
}

.intro-slide-wrapper .click-key {
    grid-area: click-key;
}

.intro-slide-wrapper .swipe-key {
    grid-area: swipe-key;
}

.intro-slide-wrapper .x-key {
    grid-area: x-key;
    border-right-style: solid @(--tablet-desktop) none !important;
}

.intro-slide-wrapper .dbclick-key {
    grid-area: dbclick-key;
}

.intro-slide-wrapper .y-key {
    grid-area: y-key;
}

.intro-slide-wrapper .wheel-x-key {
    grid-area: wheel-x-key;
    border-bottom-style: solid @(--tablet-desktop) none !important;
}

.intro-slide-wrapper .wheel-y-key {
    grid-area: wheel-y-key;
    border-right-style: solid @(--tablet-desktop) none !important;
    border-bottom-style: solid @(--tablet-desktop) none !important;
}