.content-table {
    position: fixed;
    z-index: 100;
    width: 50%;
    height: 50%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: var(--background);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-vertical {
  background: var(--background);
}

 @media (--tablet-desktop) {
     .swiper {
         height: 100%;
         margin-right: auto;
         margin-left: auto;
     }
 }

 @media (--mobile) {
     .swiper {
         width: 100%;
         height: 100%;
     }
 }

  @media (--tablet-desktop) {

      .swiper-slide img,
      .swiper-slide video {
          display: block;
          width: auto;
          height: 100%;
          object-fit: contain;
      }

      .desktop-only-nav {
          display: block;
      }

      .swiper-horizontal>.tap-to-next,
      .swiper-horizontal>.tap-to-prev {
          display: none;
      }

      .intro-slide-mobile {
          display: none;
      }
  }

  @media (--mobile) {

      .swiper-slide img,
      .swiper-slide video {
          display: block;
          width: 100%;
          height: auto;
          object-fit: contain;
      }

      .desktop-only-nav {
          display: none !important;
      }

      .intro-slide-desktop {
          display: none;
      }
  }

 .swiper-horizontalorizontal .swiper-wrapper {
     width: 100% !important;
     user-select: none;
 }

 .swiper-slide-layout-wrapper {
     height: 100%;
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     position: relative;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }

 .slide-link-a {
     position: absolute;
     bottom: 25%;
        border-radius: 5%;
        background-color: darkblue;
        color : white;
        padding: 10px;
        text-align: center;
        text-decoration-line: none;
 }

 .swiper-slide{
     font-size: 18px;
     background: var(--background);

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     position: relative;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
 }

 .swiper-pagination-progressbar {
     height: 8px !important;
 }

.media-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.media-wrapper .img-large {
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.media-wrapper .img-small {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.media-wrapper .video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}